<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316863838331-r6k3b725tbl2a907thmcks33k05nug8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316863838331-r6k3b725tbl2a907thmcks33k05nug8p</string>
	<key>API_KEY</key>
	<string>AIzaSyA8p9gAVvzT8H3IOT2MwBgA6yLscv1pW_c</string>
	<key>GCM_SENDER_ID</key>
	<string>316863838331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.growbymargin.app</string>
	<key>PROJECT_ID</key>
	<string>growbymargin-2211c</string>
	<key>STORAGE_BUCKET</key>
	<string>growbymargin-2211c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316863838331:ios:95bd61f819c7652ef64ade</string>
	<key>DATABASE_URL</key>
	<string>https://growbymargin-2211c-default-rtdb.firebaseio.com</string>
</dict>
</plist>