<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350567652566-hna58hjpn6muaa5f9sqhc936ihfijake.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350567652566-hna58hjpn6muaa5f9sqhc936ihfijake</string>
	<key>API_KEY</key>
	<string>AIzaSyDJZGVeUkzW9ODCW_UJCij_yLOBObs6go4</string>
	<key>GCM_SENDER_ID</key>
	<string>350567652566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remedieslifetime.app</string>
	<key>PROJECT_ID</key>
	<string>growapp-19c06</string>
	<key>STORAGE_BUCKET</key>
	<string>growapp-19c06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350567652566:ios:d6dd2719e698d47d093d77</string>
</dict>
</plist>